Repository frgfm/ghapi, changes with the labels that .github/labeler.yml gives for each.
All labels: module: pulls, module: reviews, module: exceptions, module: connection, module: repos, module: search, ext: docs, ext: tests, topic: build, topic: ci, topic: documentation

.github/labeler.yml:

'module: pulls':
- ghapi/pulls.py

'module: reviews':
- ghapi/reviews.py

'module: exceptions':
- ghapi/exceptions.py

'module: connection':
- ghapi/connection.py

'module: repos':
- ghapi/repos.py

'module: search':
- ghapi/search.py

'ext: docs':
- docs/*

'ext: tests':
- tests/*

'topic: build':
- setup.py
- pyproject.toml

'topic: ci':
- .github/*

'topic: documentation':
- README.md
- CONTRIBUTING.md
- CODE_OF_CONDUCT.md

[skip ci] Documentation updates
  .doctrees/environment.pickle
  .doctrees/search.doctree
  _modules/ghapi/search.html
  _modules/index.html
  _sources/search.rst.txt
  genindex.html
  objects.inv
  searchindex.js
Labels: none

feat: Adds repo method to get information
  ghapi/repos.py
Labels: module: repos

test: Adds unittest
  tests/test_repos.py
Labels: ext: tests

docs: Updates documentation
  docs/source/repos.rst
Labels: none

refactor: Adds entries in pull info payload
  ghapi/pulls.py
Labels: module: pulls

test: Updates unittest
  tests/test_pulls.py
Labels: ext: tests

feat: Adds a method to fetch repo info (#24)
  docs/source/repos.rst
  ghapi/repos.py
  tests/test_repos.py
Labels: module: repos, ext: tests

[skip ci] Documentation updates
  .doctrees/environment.pickle
  .doctrees/repos.doctree
  _modules/ghapi/repos.html
  _sources/repos.rst.txt
  genindex.html
  objects.inv
  repos.html
  searchindex.js
Labels: none

fix: Fixed typo
  ghapi/pulls.py
Labels: module: pulls

feat: Adds new keys in the PR summary payload (#25)
  ghapi/pulls.py
  tests/test_pulls.py
Labels: module: pulls, ext: tests

[skip ci] Documentation updates
  .doctrees/environment.pickle
  _modules/ghapi/pulls.html
Labels: none

feat: Adds User object
  ghapi/__init__.py
  ghapi/users.py
Labels: none

test: Adds unittest
  tests/test_users.py
Labels: ext: tests

docs: Added documentation entry
  docs/source/index.rst
  docs/source/users.rst
Labels: none

docs: Updates landing page of doc
  docs/source/index.rst
Labels: none
