Repository frgfm/ghapi, changes with the labels that .github/labeler.yml gives for each.
All labels: module: pulls, module: exceptions, ext: docs, ext: tests, topic: ci, topic: build

.github/labeler.yml:

'module: pulls':
- ghapi_client/pulls.py

'module: exceptions':
- ghapi_client/exceptions.py

'ext: docs':
- docs/*

'ext: tests':
- tests/*

'topic: ci':
- .github/*

'topic: build':
- setup.py

docs: Updated documentation
  docs/source/index.rst
  docs/source/pulls.rst
Labels: none

test: Updated unittests
  tests/test_pulls.py
  tests/test_version.py
Labels: ext: tests

chore: Updated gitignore
  .gitignore
Labels: none

docs: Updated README
  README.md
Labels: none

chore: Fixed build
  .github/workflows/builds.yml
  pyproject.toml
Labels: none

test: Fixed tests
  tests/test_pulls.py
Labels: ext: tests

docs: Updated makefile
  Makefile
Labels: none

style: Fixed typing
  ghapi_client/pulls.py
Labels: module: pulls

style: Fixed lint
  pyproject.toml
Labels: none

style: Fixed mypy
  pyproject.toml
Labels: none

ci: Updated CI
  .github/workflows/tests.yml
Labels: none

docs: Fixed headers
  .github/collect_env.py
  docs/source/conf.py
Labels: topic: ci

docs: Fixed headers
  docs/source/conf.py
Labels: none

docs: Updated README
  README.md
Labels: none

ci: Adds triage CI job
  .github/workflows/pull_requests.yml
  .github/workflows/tests.yml
Labels: none

ci: Fixed documentation build
  .github/workflows/pull_requests.yml
Labels: none
